body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  width: 700px;
}

h1 {
  font-size: 37px;
  font-family: Tahoma, Helvetica, sans-serif;
  line-height: 46px;
  color: #000000;
}

h2 {
  font-size: 25px;
  font-family: Tahoma, Helvetica, sans-serif;
  line-height: 38px;
}

p {
  font-family: Tahoma, Helvetica, sans-serif;
  line-height: 27px;
  color: #333;
}
